{
  "presets": [
    [ "@babel/react", { "runtime": "automatic" } ],
    [ "@babel/env", { "loose": true } ]
  ],
  "env": {
    "esm": {
      "presets": [
        [ "@babel/env", { "loose": true, "modules": false } ]
      ]
    }
  }
}
