{
  "env": {
    "development": {
      "presets": [
        "react",
        [ "es2015", { "loose": true } ]
      ],
      "plugins": [ "transform-object-rest-spread" ]
    },
    "es": {
      "presets": [
        "react",
        [ "es2015", { "loose": true, "modules": false } ]
      ],
      "plugins": [ "transform-object-rest-spread" ],
    }
  }
}
